---
import experiences from "../collections/experiences.json";
import AboutExperience from "../components/about-experience.astro";
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Publications">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Publications"
      description="Throughout my career as a researcher, I have undertaken a variety of studies, collaborated with some wonderful colleagues, and brilliant students. Here are some of the research papers I have produced."
    />

    <img src="/assets/images/about.jpg" class="relative z-30 w-full my-10 rounded-xl" />

    <h2 class="mb-2 text-2xl font-bold dark:text-neutral-200">My Research Papers.</h2>
    <div class="overflow-x-auto">
      <table class="min-w-full mt-5 border-collapse bg-white dark:bg-neutral-900 shadow-md rounded-xl">
        <thead>
          <tr class="bg-indigo-600 text-white">
            <th class="px-4 py-3 text-left">Authors</th>
            <th class="px-4 py-3 text-left">Year</th>
            <th class="px-4 py-3 text-left">Title</th>
            <th class="px-4 py-3 text-left">Publication</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-b dark:border-neutral-800 hover:bg-gray-100 dark:hover:bg-neutral-200">
            <td class="px-4 py-3">Morris, Phoebe; Hope, Edward; Foulsham, Tom; Mills, John P;</td>
            <td class="px-4 py-3">2023</td>
            <td class="px-4 py-3">Dancing out for a voice; a narrative review of the literature exploring autism, physical activity, and dance</td>
            <td class="px-4 py-3">Journal of Bodywork and Movement Therapies</td>
          </tr>
          <tr class="border-b dark:border-neutral-800 hover:bg-gray-100 dark:hover:bg-neutral-200">
            <td class="px-4 py-3">Morris, Phoebe O; Hope, Edward; Foulsham, Tom; Mills, John P;</td>
            <td class="px-4 py-3">2023</td>
            <td class="px-4 py-3">Parent-reported social-communication changes in children diagnosed with autism spectrum disorder during the COVID-19 pandemic in the UK</td>
            <td class="px-4 py-3">International Journal of Developmental Disabilities</td>
          </tr>
          <tr>
            <td>Morris, Phoebe O; Hope, Edward; Foulsham, Tom; Mills, John P;</td>
            <td>2023</td>
            <td>Exploring the use of a dance-based exergame to enhance autistic children’s social communication skills in the home and school environments: a feasibility study</td>
            <td>International Journal of Developmental Disabilities</td>
        </tr>
        <tr>
            <td>Mills, John; Cumbers, Lee; Williams, Samuel; Titley-Wall, Henry;</td>
            <td>2023</td>
            <td>The effectiveness of mental health literacy interventions in young people: a meta-analysis</td>
            <td>Mental Health Review Journal</td>
        </tr>
        <tr>
            <td>Paoletti, Viola; Mayglothling, Tristan; Mills, John P.;</td>
            <td>2023</td>
            <td>The impact of training environment on Tokyo Olympic athletes’ wellbeing: a qualitative multiple case study</td>
            <td>International Journal of Sport Psychology</td>
        </tr>
        <tr>
            <td>Morris, Phoebe O; Hope, Edward; Mills, John P;</td>
            <td>2022</td>
            <td>The non-fitness-related benefits of exergames for young individuals diagnosed with autism spectrum disorder: A systematic review</td>
            <td>Research in Autism Spectrum Disorders</td>
        </tr>
        <tr>
            <td>Mikuzis, Julius; Mills, John P; O'Gorman, Rick;</td>
            <td>2022</td>
            <td>Conceptualising Moral Integrity: an analysis of 21 uses</td>
            <td></td>
        </tr>
        <tr>
            <td>Ing, Charles; Mills, John;</td>
            <td>2021</td>
            <td>Why Would You Referee? An Auto ethnographic Account of a Football Official</td>
            <td>Communications in Kinesiology</td>
        </tr>
        <tr>
            <td>Kolliari-Turner, Alexander; Oliver, Brian; Lima, Giscard; Mills, John P; Wang, Guan; Pitsiladis, Yannis; Guppy, Fergus M;</td>
            <td>2021</td>
            <td>Doping practices in international weightlifting: analysis of sanctioned athletes/support personnel from 2008 to 2019 and retesting of samples from the 2008 and 2012 Olympic Games</td>
            <td>Sports Medicine-Open</td>
        </tr>
        <tr>
            <td>Morris, Phoebe O; Hope, Edward; Foulsham, Tom; Mills, John P;</td>
            <td>2021</td>
            <td>Dance, rhythm, and autism spectrum disorder: An explorative study</td>
            <td>The Arts in Psychotherapy</td>
        </tr>
        <tr>
            <td>Morris, Phoebe; Foulsham, Tom; Hope, Ed; Mills, John P;</td>
            <td>2021</td>
            <td>Preprint: Parent-reported social-communication changes in Children diagnosed with Autism Spectrum Disorder during the COVID-19 pandemic in the UK.</td>
            <td></td>
        </tr>
        <tr>
            <td>Morris, Phoebe; Hope, Edward; Foulsham, Tom; Mills, John P;</td>
            <td>2021</td>
            <td>The effectiveness of mirroring-and rhythm-based interventions for children with autism spectrum disorder: a systematic review</td>
            <td>Review Journal of Autism and Developmental Disorders</td>
        </tr>
        <tr>
            <td>Jones, Ben; Hope, Ed; Hammond, Andrew; Moran, Jason; Leeder, Thomas; Mills, John; Sandercock, Gavin;</td>
            <td>2021</td>
            <td>Play more, enjoy more, keep playing; rugby is a simple game</td>
            <td>International Journal of Sports Science & Coaching</td>
        </tr>
        <tr>
            <td>Mills, John; Clements, Kyran;</td>
            <td>2021</td>
            <td>Effective sports coaching: a systematic integrative review</td>
            <td></td>
        </tr>
        <tr>
            <td>Caldwell, Aaron R; Vigotsky, Andrew D; Tenan, Matthew S; Radel, Rémi; Mellor, David T; Kreutzer, Andreas; Lahart, Ian M; Mills, John P; Boisgontier, Matthieu P;</td>
            <td>2020</td>
            <td>Moving sport and exercise science forward: a call for the adoption of more transparent research practices</td>
            <td>Sports Medicine</td>
        </tr>
        <tr>
            <td>Nosek, Brian A; Corker, Katherine S; Krall, Tina; Grasty, Fielding L; Brooks III, Ronald E; Mellor, David Thomas; Van Tuyl, Steve; Gurdal, Gultekin; Mboa, Thomas; Ahinon, Justin Sègbédji;</td>
            <td>2020</td>
            <td>NSF 19-501 AccelNet Proposal: Community of Open Scholarship Grassroots Networks (COSGN)</td>
            <td></td>
        </tr>
        <tr>
            <td>Mills, John P;</td>
            <td>2020</td>
            <td>Authentic Arseholes and the Problem with Transformational Leaders</td>
            <td></td>
        </tr>
        <tr>
            <td>Zenko, Zachary; Steele, James; Mills, John;</td>
            <td>2020</td>
            <td>Communications in Kinesiology: A new open access journal from the Society for Transparency, Openness, and Replication in Kinesiology</td>
            <td>Communications in Kinesiology</td>
        </tr>
        <tr>
            <td>Clements, Kyran; Mills, John;</td>
            <td>2020</td>
            <td>A Longitudinal Examination of the Influence of Coaching Effectiveness on Youth Academy Footballers</td>
            <td>JOURNAL OF SPORT & EXERCISE PSYCHOLOGY</td>
        </tr>
        <tr>
            <td>Clements, Kyran; Mills, John; Freeman, Paul;</td>
            <td>2020</td>
            <td>Development of the Youth Coaching Effectiveness Scale</td>
            <td>JOURNAL OF SPORT & EXERCISE PSYCHOLOGY</td>
        </tr>
        <tr>
            <td>Morris, Phoebe; Hope, Ed; Foulsham, Tom; Mills, John P;</td>
            <td>2020</td>
            <td>Dance, Rhythm and Autism Spectrum Disorder: A Scoping Study</td>
            <td></td>
        </tr>
        <tr>
            <td>Morris, Phoebe; Hope, Ed; Foulsham, Tom; Mills, John P;</td>
            <td>2020</td>
            <td>The Effectiveness of Mirroring-and Rhythm-based interventions for children diagnosed with Autism Spectrum Disorder: A Systematic Review (Pre-print)</td>
            <td></td>
        </tr>
        <tr>
            <td>Mills, John P;</td>
            <td>2019</td>
            <td>When the managerial merry-go-round stops: A case study of how disconfirming episodes affect the identities of expert football managers.</td>
            <td>The Psychologist-Manager Journal</td>
        </tr>
        <tr>
            <td>Mills, JP;</td>
            <td>2019</td>
            <td>First-Time Sports Coach</td>
            <td></td>
        </tr>
        <tr>
            <td>Ing, Charles; Mills, John P;</td>
            <td>2019</td>
            <td>‘Hey, look at me’: An auto ethnographic account of experiencing ADHD symptoms within sport</td>
            <td>Qualitative research in sport, exercise and health</td>
        </tr>
        <tr>
            <td>Mills, John;</td>
            <td>2019</td>
            <td>Values Based Coaching and the Coaches Role in Moral Development</td>
            <td></td>
        </tr>
        <tr>
            <td>Caldwell, Aaron R; Kreutzer, Andreas; Mills, John P; Vigotsky, Andrew;</td>
            <td>2019</td>
            <td>SportRxiv files and templates</td>
            <td></td>
        </tr>
        <tr>
            <td>Boardley, Ian D; Smith, Alan L; Mills, John; Grix, Jonathan; Wynne, Ceri; Wilkins, Luke;</td>
            <td>2018</td>
            <td>Development of moral disengagement and self-regulatory efficacy assessments relevant to doping in sport and exercise</td>
            <td>Psychology of Sport and Exercise</td>
        </tr>
        <tr>
            <td>Mills, John P; Ing, Charles; Markham, Tom; Guppy, Fergus;</td>
            <td>2018</td>
            <td>It is not Black and White: A comparison of skin tone by playing position in the Premier League and English football</td>
            <td>International Journal of Sports Science & Coaching</td>
        </tr>
        <tr>
            <td>Mills, John; Boardley, Ian David; Olton, Alexandra;</td>
            <td>2018</td>
            <td>Development and validation of indirect measures of athletes' attitudes towards controlled and uncontrolled forms of performance enhancement in sport</td>
            <td>JOURNAL OF SPORT & EXERCISE PSYCHOLOGY</td>
        </tr>
        <tr>
            <td>Mills, John P; Boardley, Ian D;</td>
            <td>2017</td>
            <td>Advancing leadership in sport: Time to 'actually' take the blinkers off?</td>
            <td>Sports Medicine</td>
        </tr>
        <tr>
            <td>Mills, John P; Boardley, Ian D;</td>
            <td>2017</td>
            <td>Development and initial validation of an indirect measure of transformational leadership integrity</td>
            <td>Psychology of Sport and Exercise</td>
        </tr>
        <tr>
            <td>Boardley, Ian D; Smith, Alan L; Mills, John P; Grix, Jonathan; Wynne, Ceri;</td>
            <td>2017</td>
            <td>Empathic and self-regulatory processes governing doping behavior</td>
            <td>Frontiers in psychology</td>
        </tr>
        <tr>
            <td>Mills, John P; Boardley, Ian D;</td>
            <td>2017</td>
            <td>Response to: Cruickshank and Collins (2017) ‘Response to Mills and Boardley “Advancing leadership in sport: time to ‘actually’ take off the blinkers?”’</td>
            <td>SportRχiv</td>
        </tr>
        <tr>
            <td>Mills, John P; Boardley, Ian D;</td>
            <td>2016</td>
            <td>Expert Premier League soccer managers’ use of transformational leadership behaviours and attitude towards sport integrity: An intrinsic case study</td>
            <td>International Journal of Sports Science & Coaching</td>
        </tr>
        <tr>
            <td>Mills, John P; Boardley, Ian D;</td>
            <td>2016</td>
            <td>Development and initial validation of an indirect measure of automatic transformational leader integrity</td>
            <td>Journal of Sport and Exercise Psychology</td>
        </tr>
        <tr>
            <td>Mills, John P;</td>
            <td>2015</td>
            <td>An [AUTO] ethnographic account of constructing, deconstructing, and partially reconstructing a coaching identity</td>
            <td>Qualitative research in sport, exercise and health</td>
        </tr>
        <tr>
            <td>Mills, John P;</td>
            <td>2015</td>
            <td>A Review of “Social Psychology in Sport & Exercise: Linking Theory to Practice” Knowles, AM, Shanmugam, V., & Lorimer, R.(2015). London, England: Palgrave. 252 pp.(paperback; also available in eBook format). ISBN 9781137306289. $44.00.</td>
            <td></td>
        </tr>
        <tr>
            <td>Mills, John P;</td>
            <td>2015</td>
            <td>Transformational leader integrity: an investigation of coach social cognition</td>
            <td></td>
        </tr>
        <tr>
            <td>Mills, John; Boardley, Ian;</td>
            <td>2015</td>
            <td>The Coach as Transformational Leader: A Multiple Case Study of Three Expert, Former English Premier League or International Level Football Head Coaches</td>
            <td>The Proceedings of the British Psychological Society</td>
        </tr>
        <tr>
            <td>Mills, John P; Mayglothling, Tristan;</td>
            <td></td>
            <td>Values-Based Coaching: The Role of Coaches in Moral Development</td>
            <td></td>
        </tr>
        <tr>
            <td>Foan, Nick; Mills, John P; Hope, Edward;</td>
            <td></td>
            <td>An Exploration of the Role of Character in the Identification of Talent Across Tier One Rugby Nations</td>
            <td></td>
        </tr>
        <tr>
            <td>Caldwell, Aaron R; Vigotsky, Andrew D; Tenan, Matthew S; Radel, Rémi; Mellor, David T; Kreutzer, Andreas; Lahart, Ian M; Mills, John P; Boisgontier, Matthieu P; Boardley, I;</td>
            <td></td>
            <td>Consortium for Transparency in Exercise Science (COTES) Collaborators.(2020). Moving sport and exercise science forward: A call for the adoption of more transparent research practices</td>
            <td>Sports Medicine</td>
        </tr>
        <tr>
            <td>Boardley, Ian D; Smith, Alan L; Mills, John; Grix, Jonathan; Wynne, Ceri; Wilkins, Luke;</td>
            <td></td>
            <td>Doping Moral Disengagement Scale</td>
            <td>Psychology of Sport and Exercise</td>
        </tr>
        <tr>
            <td>Chester, Neil; Mills, John;</td>
            <td></td>
            <td>Final Report For WADA’s Social Science Research Grant Program</td>
            <td></td>
        </tr>
        <tr>
            <td>Mills, John P;</td>
            <td></td>
            <td>International Congress of Applied Psychology</td>
            <td>Special issue on Health Psychology including: Is Talking to Frank doing more harm than good? Measuring stress in children and</td>
        </tr>
        <tr>
            <td>Boardley, Ian D; Smith, Alan L; Mills, John; Grix, Jonathan; Wynne, Ceri; Wilkins, Luke;</td>
            <td></td>
            <td>Doping Moral Disengagement Scale--Short</td>
            <td>Psychology of Sport and Exercise</td>
        </tr>
        </tbody>
      </table>
    </div>

    <h2 class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200">Let's Connect</h2>
    <p class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg">
      If you want to stay up to date with my work be sure to <a href="https://twitter.com/drjpmills" target="_blank" class="text-indigo-600 underline">follow me on twitter</a>, or you can send me an <a href="mailto:john@johnpmills.com" class="text-indigo-600 underline">email</a> and I'll be sure to get back to you.
    </p>
  </section>
</Layout>
