---
import experiences from "../collections/experiences.json";
import AboutExperience from "../components/about-experience.astro";
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Publications">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Publications"
      description="Throughout my career as a researcher, I have undertaken a variety of studies, collaborated with some wonderful colleagues, and brilliant students. Here are some of the research papers I have produced."
    />

    <img src="/assets/images/about.jpg" class="relative z-30 w-full my-10 rounded-xl" />

    <h2 class="mb-2 text-2xl font-bold dark:text-neutral-200">My Research Papers.</h2>
    <div class="overflow-x-auto">
      <table class="min-w-full mt-5 border-collapse bg-white dark:bg-neutral-900 shadow-md rounded-xl">
        <thead>
          <tr class="bg-indigo-600 text-white dark:bg-indigo-700">
            <th class="px-4 py-3 text-left">Authors</th>
            <th class="px-4 py-3 text-left">Year</th>
            <th class="px-4 py-3 text-left">Title</th>
            <th class="px-4 py-3 text-left">Publication</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-b border-gray-200 dark:border-neutral-700 hover:bg-gray-100 dark:hover:bg-neutral-800">
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Morris, Phoebe; Hope, Edward; Foulsham, Tom; Mills, John P;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2023</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Dancing out for a voice; a narrative review of the literature exploring autism, physical activity, and dance</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Journal of Bodywork and Movement Therapies</td>
          </tr>
          <tr class="border-b border-gray-200 dark:border-neutral-700 hover:bg-gray-100 dark:hover:bg-neutral-800">
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Morris, Phoebe O; Hope, Edward; Foulsham, Tom; Mills, John P;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2023</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Parent-reported social-communication changes in children diagnosed with autism spectrum disorder during the COVID-19 pandemic in the UK</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">International Journal of Developmental Disabilities</td>
          </tr>
          <tr class="border-b border-gray-200 dark:border-neutral-700 hover:bg-gray-100 dark:hover:bg-neutral-800">
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Morris, Phoebe O; Hope, Edward; Foulsham, Tom; Mills, John P;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2023</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Exploring the use of a dance-based exergame to enhance autistic children’s social communication skills in the home and school environments: a feasibility study</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">International Journal of Developmental Disabilities</td>
          </tr>
          
          <tr class="border-b border-gray-200 dark:border-neutral-700 hover:bg-gray-100 dark:hover:bg-neutral-800">
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Mills, John; Cumbers, Lee; Williams, Samuel; Titley-Wall, Henry;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2023</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">The effectiveness of mental health literacy interventions in young people: a meta-analysis</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Mental Health Review Journal</td>
          </tr>
          
          <tr class="border-b border-gray-200 dark:border-neutral-700 hover:bg-gray-100 dark:hover:bg-neutral-800">
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Paoletti, Viola; Mayglothling, Tristan; Mills, John P.;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2023</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">The impact of training environment on Tokyo Olympic athletes’ wellbeing: a qualitative multiple case study</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">International Journal of Sport Psychology</td>
          </tr>
          
          <tr class="border-b border-gray-200 dark:border-neutral-700 hover:bg-gray-100 dark:hover:bg-neutral-800">
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Morris, Phoebe O; Hope, Edward; Mills, John P;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2022</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">The non-fitness-related benefits of exergames for young individuals diagnosed with autism spectrum disorder: A systematic review</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Research in Autism Spectrum Disorders</td>
          </tr>
          
          <tr class="border-b border-gray-200 dark:border-neutral-700 hover:bg-gray-100 dark:hover:bg-neutral-800">
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Mikuzis, Julius; Mills, John P; O'Gorman, Rick;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2022</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Conceptualising Moral Integrity: an analysis of 21 uses</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">PsyArXiv</td>
          </tr>
          
          <tr class="border-b border-gray-200 dark:border-neutral-700 hover:bg-gray-100 dark:hover:bg-neutral-800">
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Ing, Charles; Mills, John;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2021</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Why Would You Referee? An Auto ethnographic Account of a Football Official</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Communications in Kinesiology</td>
          </tr>
          
          <tr class="border-b border-gray-200 dark:border-neutral-700 hover:bg-gray-100 dark:hover:bg-neutral-800">
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Kolliari-Turner, Alexander; Oliver, Brian; Lima, Giscard; Mills, John P; Wang, Guan; Pitsiladis, Yannis; Guppy, Fergus M;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2021</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Doping practices in international weightlifting: analysis of sanctioned athletes/support personnel from 2008 to 2019 and retesting of samples from the 2008 and 2012 Olympic Games</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Sports Medicine-Open</td>
          </tr>
          
          <tr class="border-b border-gray-200 dark:border-neutral-700 hover:bg-gray-100 dark:hover:bg-neutral-800">
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Morris, Phoebe O; Hope, Edward; Foulsham, Tom; Mills, John P;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2021</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Dance, rhythm, and autism spectrum disorder: An explorative study</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">The Arts in Psychotherapy</td>
          </tr>
          
          <tr class="border-b border-gray-200 dark:border-neutral-700 hover:bg-gray-100 dark:hover:bg-neutral-800">
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Morris, Phoebe; Foulsham, Tom; Hope, Ed; Mills, John P;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2021</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Preprint: Parent-reported social-communication changes in Children diagnosed with Autism Spectrum Disorder during the COVID-19 pandemic in the UK.</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">PsArXiv</td>
          </tr>
          
          <tr class="border-b border-gray-200 dark:border-neutral-700 hover:bg-gray-100 dark:hover:bg-neutral-800">
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Morris, Phoebe; Hope, Edward; Foulsham, Tom; Mills, John P;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2021</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">The effectiveness of mirroring-and rhythm-based interventions for children with autism spectrum disorder: a systematic review</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Review Journal of Autism and Developmental Disorders</td>
          </tr>
          
          <tr class="border-b border-gray-200 dark:border-neutral-700 hover:bg-gray-100 dark:hover:bg-neutral-800">
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Jones, Ben; Hope, Ed; Hammond, Andrew; Moran, Jason; Leeder, Thomas; Mills, John; Sandercock, Gavin;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2021</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Play more, enjoy more, keep playing; rugby is a simple game</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">International Journal of Sports Science & Coaching</td>
          </tr>
          
          <tr class="border-b border-gray-200 dark:border-neutral-700 hover:bg-gray-100 dark:hover:bg-neutral-800">
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Mills, John; Clements, Kyran;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2021</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Effective sports coaching: a systematic integrative review</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Journal of Coaching Science</td>
          </tr>
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Mills, John P; Mayglothling, Tristan;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2021</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Values-Based Coaching: The Role of Coaches in Moral Development</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Essentials of Exercise and Sport Psychology</td>
          </tr>
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Foan, Nick; Mills, John P; Hope, Edward;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2021</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">An Exploration of the Role of Character in the Identification of Talent Across Tier One Rugby Nations</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">SportRxiv</td>
          </tr>
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Caldwell, Aaron R; Vigotsky, Andrew D; Tenan, Matthew S; Radel, Rémi; Mellor, David T; Kreutzer, Andreas; Lahart, Ian M; Mills, John P; Boisgontier, Matthieu P; Boardley, I;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2020</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Consortium for Transparency in Exercise Science (COTES) Collaborators.(2020). Moving sport and exercise science forward: A call for the adoption of more transparent research practices</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Sports Medicine</td>
          </tr>
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Caldwell, Aaron R; Vigotsky, Andrew D; Tenan, Matthew S; Radel, Rémi; Mellor, David T; Kreutzer, Andreas; Lahart, Ian M; Mills, John P; Boisgontier, Matthieu P;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2020</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Moving sport and exercise science forward: a call for the adoption of more transparent research practices</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Sports Medicine</td>
          </tr>
          
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Nosek, Brian A; Corker, Katherine S; Krall, Tina; Grasty, Fielding L; Brooks III, Ronald E; Mellor, David Thomas; Van Tuyl, Steve; Gurdal, Gultekin; Mboa, Thomas; Ahinon, Justin Sègbédji;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2020</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">NSF 19-501 AccelNet Proposal: Community of Open Scholarship Grassroots Networks (COSGN)</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">MetaArXiv</td>
          </tr>
          
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Mills, John P;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2020</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Authentic Arseholes and the Problem with Transformational Leaders</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">PsyArXiv</td>
          </tr>
          
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Zenko, Zachary; Steele, James; Mills, John;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2020</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Communications in Kinesiology: A new open access journal from the Society for Transparency, Openness, and Replication in Kinesiology</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Communications in Kinesiology</td>
          </tr>
          
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Clements, Kyran; Mills, John;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2020</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">A Longitudinal Examination of the Influence of Coaching Effectiveness on Youth Academy Footballers</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Journal of Sport & Exercise Psychology</td>
          </tr>
          
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Clements, Kyran; Mills, John; Freeman, Paul;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2020</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Development of the Youth Coaching Effectiveness Scale</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Journal of Sport & Exercise Psychology</td>
          </tr>
          
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Morris, Phoebe; Hope, Ed; Foulsham, Tom; Mills, John P;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2020</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Dance, Rhythm and Autism Spectrum Disorder: A Scoping Study</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">PsyArXiv</td>
          </tr>
          
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Morris, Phoebe; Hope, Ed; Foulsham, Tom; Mills, John P;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2020</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">The Effectiveness of Mirroring-and Rhythm-based interventions for children diagnosed with Autism Spectrum Disorder: A Systematic Review (Pre-print)</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">PsyArXiv</td>
          </tr>
          
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Mills, John P;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2019</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">When the managerial merry-go-round stops: A case study of how disconfirming episodes affect the identities of expert football managers.</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">The Psychologist-Manager Journal</td>
          </tr>
          
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Mills, JP;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2019</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">First-Time Sports Coach</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Book</td>
          </tr>
          
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Ing, Charles; Mills, John P;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2019</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">‘Hey, look at me’: An auto ethnographic account of experiencing ADHD symptoms within sport</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Qualitative Research in Sport, Exercise, and Health</td>
          </tr>
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Mills, John;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2019</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Values Based Coaching and the Coaches Role in Moral Development</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">SportRxiv</td>
          </tr>
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Caldwell, Aaron R; Kreutzer, Andreas; Mills, John P; Vigotsky, Andrew;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2019</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">SportRxiv files and templates</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">OSF</td>
          </tr>
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Boardley, Ian D; Smith, Alan L; Mills, John; Grix, Jonathan; Wynne, Ceri; Wilkins, Luke;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2018</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Development of moral disengagement and self-regulatory efficacy assessments relevant to doping in sport and exercise</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Psychology of Sport and Exercise</td>
          </tr>
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Mills, John P; Ing, Charles; Markham, Tom; Guppy, Fergus;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2018</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">It is not Black and White: A comparison of skin tone by playing position in the Premier League and English football</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">International Journal of Sports Science & Coaching</td>
          </tr>
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Mills, John; Boardley, Ian David; Olton, Alexandra;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2018</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Development and validation of indirect measures of athletes' attitudes towards controlled and uncontrolled forms of performance enhancement in sport</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">JOURNAL OF SPORT & EXERCISE PSYCHOLOGY</td>
          </tr>
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Mills, John P; Boardley, Ian D;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2017</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Advancing leadership in sport: Time to 'actually' take the blinkers off?</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Sports Medicine</td>
          </tr>
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Mills, John P; Boardley, Ian D;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2017</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Development and initial validation of an indirect measure of transformational leadership integrity</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Psychology of Sport and Exercise</td>
          </tr>
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Boardley, Ian D; Smith, Alan L; Mills, John P; Grix, Jonathan; Wynne, Ceri;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2017</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Empathic and self-regulatory processes governing doping behavior</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Frontiers in psychology</td>
          </tr>
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Mills, John P; Boardley, Ian D;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2017</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Response to: Cruickshank and Collins (2017) ‘Response to Mills and Boardley “Advancing leadership in sport: time to ‘actually’ take off the blinkers?”’</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">SportRχiv</td>
          </tr>
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Mills, John P; Boardley, Ian D;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2016</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Expert Premier League soccer managers’ use of transformational leadership behaviours and attitude towards sport integrity: An intrinsic case study</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">International Journal of Sports Science & Coaching</td>
          </tr>
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Mills, John P; Boardley, Ian D;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2016</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Development and initial validation of an indirect measure of automatic transformational leader integrity</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Journal of Sport and Exercise Psychology</td>
          </tr>
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Mills, John P;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2015</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">An AUTO ethnographic account of constructing, deconstructing, and partially reconstructing a coaching identity</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Qualitative research in sport, exercise and health</td>
          </tr>
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Mills, John P;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2015</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">A Review of “Social Psychology in Sport & Exercise: Linking Theory to Practice” Knowles, AM, Shanmugam, V., & Lorimer, R.(2015). London, England: Palgrave. 252 pp.(paperback; also available in eBook format). ISBN 9781137306289. $44.00.</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Journal of Sport Psychology in Action</td>
          </tr>
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Mills, John P;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2015</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Transformational leader integrity: an investigation of coach social cognition</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Thesis</td>
          </tr>
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Mills, John; Boardley, Ian;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2015</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">The Coach as Transformational Leader: A Multiple Case Study of Three Expert, Former English Premier League or International Level Football Head Coaches</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">The Proceedings of the British Psychological Society</td>
          </tr>
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Chester, Neil; Mills, John;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2015</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Final Report For WADA’s Social Science Research Grant Program</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300"></td>
          </tr>
          <tr>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">Mills, John P;</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">2015</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300">International Congress of Applied Psychology</td>
            <td class="px-4 py-3 text-gray-900 dark:text-gray-300"></td>
          </tr>      
        </tbody>
      </table>
    </div>

    <h2 class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200">Let's Connect</h2>
    <p class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg">
      If you want to stay up to date with my work be sure to <a href="https://twitter.com/drjpmills" target="_blank" class="text-indigo-600 underline">follow me on twitter</a>, or you can send me an <a href="mailto:john@johnpmills.com" class="text-indigo-600 underline">email</a> and I'll be sure to get back to you.
    </p>
  </section>
</Layout>
